.page-body {
    background-color: #7798b0;
    background-image: "https://img.freepik.com/free-vector/dark-gradient-background-with-copy-space_53876-99548.jpg?w=1380&t=st=1684422775~exp=1684423375~hmac=28d109130f5c59da21e8844a7a9082cb6477fa87c5866e054d43de5c51659c49";
  }

  .bv-example-row {
    background-color: #2bc4c8;
    max-width: 70%;
    margin: 0 auto;
  }